In [101]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.datasets import make_multilabel_classification#
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import CCA
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import numpy as np
from scipy import sparse

In [123]:
#X, Y = make_multilabel_classification(n_classes=2, n_labels=1, allow_unlabeled=True, random_state=1)

# plot_subfigure(X, Y, 1, "With unlabeled samples + CCA", "cca")
# plot_subfigure(X, Y, 2, "With unlabeled samples + PCA", "pca")

X, y = make_multilabel_classification(n_classes=4, n_labels=2,sparse = True, allow_unlabeled=False, random_state=1)

yy = y

#y = sparse.csr_matrix(y)

# plot_subfigure(X, Y, 3, "Without unlabeled samples + CCA", "cca")
# plot_subfigure(X, Y, 4, "Without unlabeled samples + PCA", "pca")

# plt.subplots_adjust(.04, .02, .97, .94, .09, .2)
# plt.show()

In [133]:
type(y)

numpy.ndarray

In [168]:
y

array([[0, 1, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 1, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 1, 1],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 1, 1, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 1],
       [1, 1, 1, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 1],
       [1, 1, 1, 1],
       [0, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 1, 1, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 1, 1],
       [0, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 1, 1, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 1],
       [0, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 1],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [1, 1, 0, 0],
       [1, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 1, 0, 1],
       [1, 1, 0, 1],
       [1, 0, 0, 0],
       [1, 1, 1, 1],
       [1, 1, 0, 1],
       [1, 1, 0, 1]])

In [169]:
y.shape

(100, 4)

In [170]:
X.shape

(100, 20)

In [171]:
df = pd.DataFrame(data=yy)
df.head()

   0  1  2  3
0  0  1  0  1
1  1  0  0  1
2  1  1  0  0
3  0  1  0  1
4  1  1  0  1

In [172]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [173]:
#Label Powerset
from skmultilearn.problem_transform import LabelPowerset
from sklearn.naive_bayes import GaussianNB
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

from sklearn import preprocessing

# with a gaussian naive bayes base classifier
classifier = LabelPowerset(GaussianNB())

# train
classifier = classifier.fit(X_train, y_train)

# # predict
# predictions = classifier.predict(X_test)

# accuracy_score(y_test,predictions)

In [174]:
y_train.shape

(67, 4)

In [175]:
y.shape

(100, 4)

In [192]:
#LabelPowerset.transform(y)
y_prim = LabelPowerset.transform(classifier, y)
y_prim

array([0, 1, 2, 0, 3, 4, 1, 3, 2, 5, 3, 0, 2, 3, 2, 6, 3, 3, 7, 7, 2, 3,
       3, 4, 0, 4, 0, 3, 6, 7, 7, 2, 0, 1, 3, 3, 2, 7, 6, 4, 4, 5, 4, 0,
       6, 3, 3, 0, 6, 0, 2, 3, 2, 3, 2, 3, 4, 6, 4, 2, 6, 0, 4, 3, 1, 2,
       4, 5, 4, 7, 6, 4, 3, 0, 4, 2, 7, 3, 3, 3, 4, 4, 2, 2, 7, 0, 3, 4,
       2, 4, 5, 2, 3, 4, 3, 3, 7, 6, 3, 3])

In [193]:
df_y_prim = pd.DataFrame(data=y_prim)
df_y_prim

    0
0   0
1   1
2   2
3   0
4   3
5   4
6   1
7   3
8   2
9   5
10  3
11  0
12  2
13  3
14  2
15  6
16  3
17  3
18  7
19  7
20  2
21  3
22  3
23  4
24  0
25  4
26  0
27  3
28  6
29  7
.. ..
70  6
71  4
72  3
73  0
74  4
75  2
76  7
77  3
78  3
79  3
80  4
81  4
82  2
83  2
84  7
85  0
86  3
87  4
88  2
89  4
90  5
91  2
92  3
93  4
94  3
95  3
96  7
97  6
98  3
99  3

[100 rows x 1 columns]

In [194]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

print(X.shape)

X_prim = SelectKBest(chi2, k=2).fit_transform(X, y_prim)
X_prim.shape

(100, 20)

(100, 2)

In [195]:
X_prim

<100x2 sparse matrix of type '<class 'numpy.float64'>'
	with 178 stored elements in Compressed Sparse Row format>

In [196]:
#df_X_prim = pd.DataFrame(data=X_prim)
df_X_prim = pd.DataFrame(X_prim.toarray())
df_X_prim

      0    1
0   3.0  6.0
1   1.0  4.0
2   3.0  4.0
3   1.0  3.0
4   3.0  1.0
5   0.0  1.0
6   3.0  4.0
7   5.0  1.0
8   1.0  2.0
9   6.0  1.0
10  2.0  2.0
11  3.0  1.0
12  3.0  2.0
13  2.0  4.0
14  2.0  5.0
15  2.0  1.0
16  2.0  4.0
17  5.0  5.0
18  1.0  2.0
19  3.0  8.0
20  4.0  2.0
21  1.0  1.0
22  5.0  5.0
23  0.0  1.0
24  2.0  0.0
25  0.0  1.0
26  2.0  0.0
27  2.0  3.0
28  4.0  2.0
29  1.0  3.0
..  ...  ...
70  1.0  3.0
71  1.0  2.0
72  2.0  2.0
73  3.0  2.0
74  0.0  4.0
75  0.0  5.0
76  3.0  4.0
77  5.0  3.0
78  3.0  2.0
79  3.0  5.0
80  0.0  3.0
81  0.0  4.0
82  2.0  3.0
83  4.0  1.0
84  2.0  9.0
85  1.0  4.0
86  4.0  7.0
87  0.0  1.0
88  1.0  2.0
89  0.0  0.0
90  1.0  2.0
91  1.0  3.0
92  1.0  3.0
93  0.0  1.0
94  3.0  5.0
95  3.0  3.0
96  4.0  6.0
97  3.0  5.0
98  3.0  1.0
99  1.0  7.0

[100 rows x 2 columns]

In [197]:
#LabelPowerset.inverse_transform(y)
y_new = LabelPowerset.inverse_transform(classifier, y_prim)
y_new

<100x4 sparse matrix of type '<class 'numpy.int64'>'
	with 214 stored elements in LInked List format>

In [200]:
df_y_new = pd.DataFrame(y_new.toarray())
df_y_new

    0  1  2  3
0   0  1  0  1
1   1  0  0  1
2   1  1  0  0
3   0  1  0  1
4   1  1  0  1
5   0  1  0  0
6   1  0  0  1
7   1  1  0  1
8   1  1  0  0
9   0  0  0  1
10  1  1  0  1
11  0  1  0  1
12  1  1  0  0
13  1  1  0  1
14  1  1  0  0
15  1  1  1  1
16  1  1  0  1
17  1  1  0  1
18  1  0  0  0
19  1  0  0  0
20  1  1  0  0
21  1  1  0  1
22  1  1  0  1
23  0  1  0  0
24  0  1  0  1
25  0  1  0  0
26  0  1  0  1
27  1  1  0  1
28  1  1  1  1
29  1  0  0  0
.. .. .. .. ..
70  1  1  1  1
71  0  1  0  0
72  1  1  0  1
73  0  1  0  1
74  0  1  0  0
75  1  1  0  0
76  1  0  0  0
77  1  1  0  1
78  1  1  0  1
79  1  1  0  1
80  0  1  0  0
81  0  1  0  0
82  1  1  0  0
83  1  1  0  0
84  1  0  0  0
85  0  1  0  1
86  1  1  0  1
87  0  1  0  0
88  1  1  0  0
89  0  1  0  0
90  0  0  0  1
91  1  1  0  0
92  1  1  0  1
93  0  1  0  0
94  1  1  0  1
95  1  1  0  1
96  1  0  0  0
97  1  1  1  1
98  1  1  0  1
99  1  1  0  1

[100 rows x 4 columns]